body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* background: url(img.jpg) no-repeat center center/cover; */
    font-family: Arial, sans-serif;
  }

  h1{
    background-color: rgb(6, 17, 234);
    color: white;
    width: 330px;
    height: 6%;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    padding: 7px 10px;
    margin: 50px 5px;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    border: 2px solid black;

    /* cursor: pointer; */
  }
  
  .timer {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  button {
    background-color: rgb(6, 17, 234);
    color: white;
    width: 133px;
    height: 33%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    margin: 6px 5px;
    cursor: pointer;
  }
  